pipeline/Dim_Pipeline.json
{
	"name": "Dim_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get_Latest_Data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Last_CDC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT count(*) as count \nFROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} \nWHERE @{pipeline().parameters.cdc_col} > '@{if(empty(pipeline().parameters.from_date), activity('Last_CDC').output.value[0].cdc, pipeline().parameters.from_date)}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "source_sql_ds",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							},
							"table": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"cdc_col": {
								"value": "@pipeline().parameters.cdc_col",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Last_CDC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "cdc_json_ds",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container_name",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.cdc_directory",
								"type": "Expression"
							},
							"file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Check Latest Data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Latest_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get_Latest_Data').output.value[0].count, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "204_Failure_No_New_Data",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No new data available in the table",
								"errorCode": "204"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SQL_to_ADLS_User",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * \nFROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} \nWHERE @{pipeline().parameters.cdc_col} > '@{if(empty(pipeline().parameters.from_date), activity('Last_CDC').output.value[0].cdc, pipeline().parameters.from_date)}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "source_sql_ds",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@pipeline().parameters.schema",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"cdc_col": {
											"value": "@pipeline().parameters.cdc_col",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_sink_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.data_directory",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(pipeline().parameters.table,'_', utcNow())",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update_last_doc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Max_CDC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('Max_CDC').output.value[0].max_cdc_date",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "cdc_json_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.cdc_directory",
											"type": "Expression"
										},
										"file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "cdc_json_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.cdc_directory",
											"type": "Expression"
										},
										"file": "cdc.json"
									}
								}
							]
						},
						{
							"name": "Max_CDC",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SQL_to_ADLS_User",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT max(@{pipeline().parameters.cdc_col}) as max_cdc_date from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "source_sql_ds",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@pipeline().parameters.schema",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"cdc_col": {
											"value": "@pipeline().parameters.cdc_col",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Max_CDC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp",
								"value": {
									"value": "@activity('Max_CDC').output.value[0].max_cdc_date",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"table": {
				"type": "string",
				"defaultValue": "DimUser"
			},
			"cdc_col": {
				"type": "string",
				"defaultValue": "updated_at"
			},
			"from_date": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"data_directory": {
				"type": "string"
			},
			"cdc_directory": {
				"type": "string"
			}
		},
		"variables": {
			"temp": {
				"type": "String"
			},
			"cdc": {
				"type": "String"
			},
			"table": {
				"type": "String"
			},
			"schema": {
				"type": "String"
			}
		},
		"annotations": []
	}
}